<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="Enviados" value="\Enviados" />
    <add key="Procesados" value="\Procesados" />
    <add key="RutaCarpeta" value="D:\Centenario\" />
    <add key="CarpetaDestino" value="D:\Centenario\" />
    <add key="UserSP" value="cuentatenant@centenario.com.pe"/>
    <add key="PasswordSP" value="C3nt3.2021#"/>
    <add key="UrlSP" value="https://grupocentenario.sharepoint.com/sites/calculocomisiones"/>
  </appSettings>
</configuration>
